{% load events_tags %}
<h1>Næstu atburðir</h1>
{% if latest_events %}
<ul id="latest-events">
{% for event in latest_events %}
    <li>
        <dl>
            <dt>{{ event.event_type }}:</dt>
            <dd><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></dd>
            <dt>{% if event.has_started %}Hófst{% else %}Hefst{% endif %}:</dt>
            <dd>Kl. {{ event.starts|date:"H:i þ\a\n\n d.m.Y" }}</dd>
        </dl>
        {% include 'events/event_registration.html' %}
    </li>
{% endfor %}
</ul>
{% else %}
<p class="info">Engir atburðir í komandi framtíð.</p>
{% endif %}